<div class="footer-padding"></div>


<div class="footer">
  copyright©made by awdhesh.

  <button type="button" name="button"><a href="/compoose">compoose</a></button>
</div>


</body>
</html>
