<%- include('partials/header'); %>
<div class="compoose">
  <h1>Compoose</h1>
  <form class="" action="/compoose" method="post">
    <div class="form-group">

      <label for="">Title</label><br>
      <input class="form-control" type="text" name="postTitle" ><br>
      <label for="">Post</label><br>
      <textarea class="form-control" type ="text" name="Bodytxt" rows="8" cols="80"></textarea>
    </div><br>
    <button class="btn " type="submit" name="button">Publish</button>
  </form>

</div>


<%- include('partials/footer'); %>
